body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

  header {
    width: 100%;
    display: block;
    min-height: 50px;
    background-color: #292A2A;
  }

    header nav {
      width: 100%;
      height: 100%;
    }

      header nav img {
        float: left;
        height: 50px;
        margin-left: 30px;
      }

      header nav ul {
        float: right;
        margin: 0;
      }

        nav ul li {
          display: inline-block;
          transition: .5s;
          min-height: 50px;
          line-height: 50px;
          margin-left: -4px;
        }

          nav ul li:hover {
            background-color: #5E615F;
          }

          ul li a {
            padding: 25px;
            text-transform: uppercase;
            color: #FFF;
            text-decoration: none;
            height: 100%;
            font-family: 'Quicksand', sans-serif;
          }

    header::after {
      clear: both;
      content: "";
      display: block;
    }

  main {
    width: 100%;
    display: block;
  }

    main .banner {
      background-image: url("../graphics/beach.jpg");
      width: 100%;
      height: 600px;
      margin: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

      main .banner .motto {
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
        font-size: 1.5em;
        float: left;
        background-color: rgba(0, 0, 0, 0.6);
        width: 500px;
        padding-right: 30px;
        margin-top: 250px;
        box-sizing: border-box;
        text-align: right;
        color: rgba(255, 255, 255, 0.8);
        letter-spacing: 1px;
      }

    main .about,
    main .catalog,
    main .agency,
    main .job {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    main .about {
      width: 100%;
      min-height: 300px;
      display: block;
      background-color: #FFF;
    }

      main .about .feature {
        float: left;
        text-align: center;
        width: 33.33%;
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
      }

        .about .feature i {
          width: 100px;
          height: 100px;
          background-color: #3b5998;
          color: #FFF;
          border-radius: 30px;
          font-size: 4em;
          line-height: 100px;
        }

      main .about::after {
        clear: both;
        content: "";
        display: block;
      }

    main .catalog {
      width: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
      color: #FFF;
      background-color: #292A2A;
    }

      main .catalog h2 {
        font-size: 1.8em;
      }

      main .catalog p {
        box-sizing: border-box;
        padding: 0 40px;
      }

      main .catalog .gallery {
        width: 100%;
        min-height: 400px;
        margin: 40px 0 0 0;
      }

        .catalog .gallery .trip {
          float: left;
          width: 33.33333%;
          margin: 0;
          position: relative;
          overflow: hidden;
          color: transparent;
        }

        .gallery .trip a {
          color: transparent;
        }

          .trip a img {
            width: 100%;
            height: 100%;
            transform: scale(1);
            display: block;
            transition: transform .5s linear;
          }

            .trip:hover a img {
              transform: scale(1.1);
              opacity: 0.5;
            }

            .trip a figcaption {
              position: absolute;
              bottom: 15%;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              font-size: 1.5em;
              user-select: none;
              -moz-user-select: none;
            }

            .trip:hover a figcaption{
              color: #FFF;
              background-color: rgba(0, 0, 0, 0.5);
            }

      main .catalog::after {
        clear: both;
        content: "";
        display: block;
      }

    main .agency {
      background-color: #FFF;
      width: 100%;
      text-align: center;
    }

      main .agency h2,
      main .job h2 {
        font-size: 1.8em;
      }

      main .agency .location {
        width: 25%;
        float: left;
        margin-top: 40px;
      }

        .agency .location img {
          width: 250px;
          height: 250px;
        }

        main .agency::after {
          clear: both;
          content: "";
          display: block;
        }

    main .job {
      position: relative;
      text-align: center;
    }

      main .job::after {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../graphics/pracownicy.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      opacity : 0.5;
      z-index: -1;
      }

      main .job p {
        width: 60%;
        margin: 0 auto;
      }
