body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

  header {
    width: 100%;
    display: block;
    min-height: 50px;
    background-color: #292A2A;
  }

    header nav {
      width: 100%;
      height: 100%;
    }

      header nav img {
        float: left;
        height: 50px;
        margin-left: 30px;
      }

      header nav ul {
        float: right;
        margin: 0;
      }

        nav ul li {
          display: inline-block;
          transition: .5s;
          min-height: 50px;
          line-height: 50px;
          margin-left: -4px;
        }

          nav ul li:hover {
            background-color: #5E615F;
          }

          ul li a {
            padding: 15px 25px;
            text-transform: uppercase;
            color: #FFF;
            text-decoration: none;
            height: 100%;
            font-family: 'Quicksand', sans-serif;
          }

    header::after {
      clear: both;
      content: "";
      display: block;
    }

  main {
    width: 100%;
    display: block;
  }

    main .banner {
      background-image: url("../graphics/beach.jpg");
      width: 100%;
      height: 600px;
      margin: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

      main .banner .motto {
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
        font-size: 1.5em;
        float: left;
        background-color: rgba(0, 0, 0, 0.6);
        width: 500px;
        padding-right: 30px;
        margin-top: 250px;
        box-sizing: border-box;
        text-align: right;
        color: rgba(255, 255, 255, 0.8);
        letter-spacing: 1px;
      }

    main .about,
    main .catalog,
    main .agency,
    main .job {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    main .about::after,
    main .catalog::after,
    main .agency::after,
    footer {
      clear: both;
      content: "";
      display: block;
    }

    main .about {
      width: 100%;
      min-height: 300px;
      display: block;
      background-color: #FFF;
    }

      main .about .feature {
        float: left;
        text-align: center;
        width: 33.33%;
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
      }

        .about .feature i {
          width: 100px;
          height: 100px;
          background-color: #3b5998;
          color: #FFF;
          border-radius: 30px;
          font-size: 4em;
          line-height: 100px;
        }

    main .catalog {
      width: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
      color: #FFF;
      background-color: #292A2A;
    }

      main .catalog h2 {
        font-size: 1.8em;
      }

      main .catalog p {
        box-sizing: border-box;
        padding: 0 40px;
      }

      main .catalog .gallery {
        width: 100%;
        min-height: 400px;
        margin: 40px 0 0 0;
      }

        .catalog .gallery .trip {
          float: left;
          width: 33.33333%;
          margin: 0;
          position: relative;
          overflow: hidden;
          color: transparent;
        }

        .gallery .trip a {
          color: transparent;
        }

          .trip a img {
            width: 100%;
            height: 100%;
            transform: scale(1);
            display: block;
            transition: transform .5s linear;
          }

            .trip:hover a img,
            .gallery .trip a:focus {
              transform: scale(1.1);
              opacity: 0.5;
            }

            .trip a figcaption {
              position: absolute;
              bottom: 15%;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              font-size: 1.5em;
              user-select: none;
              -moz-user-select: none;
            }

            .trip:hover a figcaption,
            .trip a:focus figcaption{
              color: #FFF;
              background-color: rgba(0, 0, 0, 0.5);
            }

    main .agency {
      background-color: #FFF;
      width: 100%;
      text-align: center;
    }

      main .agency h2,
      main .job h2 {
        font-size: 1.8em;
      }

      main .agency .location {
        width: 25%;
        float: left;
        margin-top: 40px;
      }

        .agency .location img {
          width: 250px;
          height: 250px;
        }

    main .job {
      position: relative;
      text-align: center;
    }

      main .job::after {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../graphics/pracownicy.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      opacity : 0.5;
      z-index: -1;
      }

      main .job p {
        width: 60%;
        margin: 0 auto;
      }

      main .job h3 {
        padding-top: 60px;
        padding-bottom: 20px;
      }

      main .job table {
        width: 100%;
        border-spacing: 0px;
        background-color: rgba(255, 255, 255, 0.7);
      }

        .job table td {
          padding: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          border-left: 1px solid rgba(0, 0, 0, 0.2);
        }

        .job table tr:first-of-type td {
          border-top: none;
        }

        .job td a {
          padding: 20px 0;
          display: block;
          width: 100%;
          transition: background .4s;
          text-decoration: none;
          font-size: 1.1em;
          text-transform: uppercase;
          color: #000;
        }

          .job td a:hover {
            color: #FFF;
            background-color: rgba(0, 0, 0, 0.7);
          }

  footer {
    width: 100%;
    min-height: 100px;
    display: block;
    background-color: #292A2A;
    color: #FFF;
    overflow: auto;
  }

    footer .footer-part {
      float: left;
      width: 33.33333%;
      box-sizing: border-box;
      padding: 20px 50px;
    }

      footer .footer-part .type-of-contact {
        display: block;
      }

        footer .footer-part .type-of-contact h3 {
          display: inline-block;
          vertical-align: top;
          width: 80px;
        }

        footer .footer-part .type-of-contact p {
          display: inline-block;
          margin-left: 10px;
        }

      footer .footer-part .social-icons {
        width: 100%;
      }

        .footer-part .social-icons a {
          text-indent: 80px;
          width: 50px;
          height: 50px;
          overflow: hidden;
          font-size: 40px;
          margin: 10px;
          padding: 10px;
          border-radius: 12px;
          background-color: #FFF;
          box-sizing: border-box;
          transition: .3s;
        }

        .footer-part .social-icons a::before {
          float: left;
          text-indent: 0px;
        }

        .footer-part .social-icons a.fa-youtube-square {
          color: #cc181e;
        }

        .footer-part .social-icons a.fa-youtube-square:hover {
          color: #FFF;
          background-color: #cc181e;
        }

        .footer-part .social-icons a.fa-facebook-square {
          color: #3b5998;
        }

          .footer-part .social-icons a.fa-facebook-square:hover {
            color: #FFF;
            background-color: #3b5998;
          }

        .footer-part .social-icons a.fa-instagram {
          color: #ffc838;
        }

          .footer-part .social-icons a.fa-instagram:hover {
            color: #FFF;
            background-color: #ffc838;
          }

        .footer-part .social-icons a.fa-google-plus-square {
          color: #d34836;
        }

          .footer-part .social-icons a.fa-google-plus-square:hover {
            color: #FFF;
            background-color: #d34836;
          }
