body {
   margin:0;
   padding:0;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.3)),
   url("Graphics/sunset.jpg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Forum', cursive;
}

  header,
  main {
    display: block;
    box-sizing: border-box;
  }

  header {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    width: 30%;
    max-height: 85vh;
    left: 5%;
    padding: 1.5%;
    text-align: center;
    position: fixed;
    top: 5%;
  }

    header a.hamburger {
      display: none;
    }

    header img {
      width: 50%;
      border-radius: 50%;
      border: 2px solid rgba(232, 185, 141, 1);
      box-shadow: 0px 0px 20px 3px #FFF;
    }

    header p {
      font-size: 2em;
      font-weight: bolder;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    header ul {
      list-style: none;
      padding: 0;
    }

      header ul li {
        display: block;
      }

        ul li a {
          display: block;
          color: #000;
          text-decoration: none;
          font-size: 1.8em;
          padding: 10px 0;
          transition: 0.3s;
        }

          ul li a:hover {
            background-color: #FFF;
            transform: scale(1.2, 1.2);
            border-radius: 3px;
          }

  main {
    float: right;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  }

    main section > :not(h1) {
      padding: 0 30px;
    }

      main section h1 {
        text-align: left;
        margin-top: 0;
        padding: 25px 0 0 30px;
        border-bottom: 6px double #FFF;
        border-top: 3px solid #FFF;
        color: #FFF;
        background-color: rgba(33, 33, 33, 0.6);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 2.5em;
        font-family: 'Gochi Hand', cursive;
      }

    main section.about,
    main section.projects,
    main section.contact {
      overflow: hidden;
      min-height: 100vh;
    }

    /*Projekty*/
    main section.about {
      background-color: rgba(83, 112, 130, 1);
    }

      main section.about .hello-img {
        padding: 0;
        display: none;
        height: 100%;
      }

        section.about .hello-img img {
          width: 100%;
          height: 380px;
          box-sizing: border-box;
          filter: blur(0.5px) brightness(80%);
        }

      main section.about h1 {
        margin-bottom: 0;
      }

      main section.about .hello-paragraphs {
        overflow: hidden;
        padding: 20px 0;
      }

        main section.about p {
          font-size: 1.1em;
          font-family: 'Alegreya Sans', sans-serif;
          padding-left: 10px;
          padding-right: 4px;
          padding-top: 10px;
          padding-bottom: 10px;
          margin: 10px 0 10px 30px;
          background-color: #FFF;
        }

          main section.about p:nth-of-type(4) {
            color: #FFF;
            background-color: transparent;
            text-shadow: none;
            font-size: 1.5em;
            font-weight: 600;
            text-align: center;
            margin: 30px 0;
          }

    main section.projects {
      background-color: rgba(168, 172, 171, 0.8);
    }

      main section.projects .blog,
      main section.projects .psd {
        display: block;
        width: 100%;
        margin-bottom: 30px;
      }

        main section.projects .interactive-image {
          position: relative;
          width: 50%;
          display: inline-block;
        }

          section.projects .interactive-image img {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #FFF;
            display: inline-block;
            display: block;
          }

            section.projects .interactive-image:hover .mask {
              visibility: visible;
              opacity: 0.9;
            }

            section.projects .interactive-image .mask {
              visibility: hidden;
              background-color: #FFF;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              opacity: 0;
              transition: visibility .7s, opacity .7s ease;
            }

              section.projects .interactive-image .mask::after {
                width: 100%;
                height: 100%;
                background-size: cover;
                position: absolute;
                content: " ";
              }

                .psd .interactive-image .mask::after {
                  background-image: url("Graphics/harbour-tech.png");
                }

                .blog .interactive-image .mask::after {
                  background-image: url("Graphics/pbd-tech.png");
                }

        main section.projects .information {
          vertical-align: top;
          display: inline-block;
          width: 40%;
          margin-left: 10px;
        }

          section.projects .information a {
            border: 3px solid rgba(0, 0, 0, 0.7);
            border-radius: 8px;
            display: inline-block;
            padding: 10px;
            background-color: #FFF;
            font-size: 1.5em;
            color: #000;
            text-decoration: none;
            font-family: 'Alegreya Sans', sans-serif;
            width: 76px;
            text-align: center;
          }

            section.projects .information a:hover span {
              transform: rotateY(360deg);
              transition-duration: 0.5s;
              display: block;
            }

          section.projects .information p {
            display: block;
            font-size: 1.2em;
          }

            section.projects .information .show-code {
              margin-left: -4px;
              border-left: none;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
            }

              .psd .information .show-site {
                border-right: 1px solid rgba(0, 0, 0, 0.7);
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              }

    /*Kontakt*/
    main section.contact {
      background-color: rgba(241, 148, 91, 0.8);
    }

      main section.contact img {
        width: 100%;
        padding: 0;
        max-height: 60vh;
      }

      main section.contact h1 {
        margin-bottom: 0;
      }

      main section.contact .contact-col {
        display: inline-block;
      }

        section.contact .contact-col p {
          font-size: 2em;
          display: block;
        }

          section.contact .contact-col p.e-mail::before {
            font-family: FontAwesome;
            content: "\f0e0";
            margin-right: 5px;
          }

          section.contact .contact-col p.github a::before {
            font-family: FontAwesome;
            content: "\f09b";
            margin-right: 10px;
          }

          section.contact .contact-col p.linkedin a::before {
            font-family: FontAwesome;
            content: "\f08c";
            margin-right: 10px;
          }

          section.contact .contact-col p.city::before {
            font-family: FontAwesome;
            content: "\f015";
            margin-right: 7px;
          }

          section.contact .contact-col p:hover {
            transform: rotateX(360deg);
            transition-duration: 1s;
            animation-iteration-count: 1;
          }

          section.contact .contact-col:last-of-type p:hover {
            color:#FFF;
          }

              .contact-col p a {
              text-decoration: none;
              color: inherit;
              }

  footer {
    position: fixed;
    bottom: 0;
    width: 30%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.5);
  }

    footer p {
      margin: 2px;
    }

/*--------------------------------------------------------------
MOBILE
--------------------------------------------------------------*/
@media all and (max-width: 768px){
  header {
    z-index: 1;
    background-color: transparent;
    width: 0;
  }

  header nav,
  footer {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    display: none;
    left: 0;
    animation: fadein 1s;
  }

  @keyframes fadein {
    from { left: -50%; }
    to   { left: 0; }
  }

  @keyframes fadeout {
    from { left: 0; }
    to   { left: -50%; }
  }

    header a.hamburger {
      background-image: url("Graphics/hamburger.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.9);
      display: block;
      width: 50px;
      height: 50px;
      position: fixed;
      padding: 11px;
      top: 3px;
      right: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      text-indent: 300px;
    }

      header .hamburger:hover {
        cursor: pointer;
      }

    header nav {
      max-height: initial;
      height: 80vh;
      top: 0;
      border-radius: 0px;
    }


    header p,
    header img {
      display: none;
    }

      header nav ul {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

          ul li a {
            color: #FFF;
            font-size: 2.5em;
            padding: 30px 0;
          }

  main {
    width: 100%;
  }

    main section.about,
    main section.projects {
      min-height: initial;
    }





        section.contact .contact-col p.e-mail {
          font-size: 1.6em;
        }

  footer {
    height: 20vh;
  }

    footer p {
      font-size: 1.5em;
      color: #FFF;
      position: absolute;
      bottom: 0;
    }
}

/*--------------------------------------------------------------
OTHERS
--------------------------------------------------------------*/
@media all and (min-width: 1920px) and (min-height: 900px){
  main section.about .hello-img {
    display: block;
  }
}

@media all and (min-height: 800px){
  main section.about,
  main section.projects,
  main section.contact {
    min-height: initial;
  }
}

@media all and (max-width: 830px){

    main section.projects .blog,
    main section.projects .psd {
      padding: 0;
      margin-bottom: 50px;
    }

      main section.projects .interactive-image,
      main section.projects .information {
        width: 95%;
        margin: 0 auto;
        display: block;
        text-align: center;
      }

        section.projects .information a.show-site,
        section.projects .information a.show-code {
          width: 100%;
          display: block;
          margin: 0;
          box-sizing: border-box;
          border-radius: 0px;
          border-bottom: 3px solid rgba(0, 0, 0, 0.7);
          border-left: 3px solid rgba(0, 0, 0, 0.7);
          border-right: 3px solid rgba(0, 0, 0, 0.7);
        }

        .psd .information a.show-code {
          border-top: none;
        }

}
