@import "keyframes-mixins";

$menu-size: 675px;
$tile-size: 32%;
$tile-border: 25px;
$section-bg: #FFEDB3;
$tile-bg: #90CEF2;

* {
  margin: 0;
  padding: 0;
}

#container {
  @include display(100vh,flex);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include smartphone {
    align-items: flex-start;
  }

  header {
    position: relative;
    @include smartphone {
      width: 100%;
    }

    img.dec {
      position: absolute;
      @include smartphone {
        display: none;
      }
    }

    img.builder {
      bottom: -20%;
      right: -31%;
      width: 55%;
    }

    img.arrow {
      top: $tile-size/2;
      left: -21%;
      width: 20%;
    }
  }
}

nav {
  width: $menu-size;
  height: $menu-size;
  @include mobile-size-nav(575px, 575px, 630px, 730px, 930px, 1100px, 0.8rem);
  @include mobile-size-nav(475px, 475px, 530px, 629px, 768px, 929px, 0.7rem);
  @include mobile-size-nav(375px, 375px, 430px, 529px, 0, 0, 0.5rem);
  @include mobile-size-nav(300px, 300px, 0px, 429px, 0, 0, 0.3rem);
  @include smartphone {
    width: 100%;
    max-height: 70%;
  }
  ul {
    @include display(100%,flex);
    flex-wrap: wrap;
    justify-content: space-around;
    @include smartphone {
      justify-content: space-between;
    }
  }

  li {
    @include tile($tile-size,$tile-size, $tile-border);
    list-style: none;

    &:not(.photos-group):not(.logo) {
      background-image: url("graphics/menu.jpg");
      background-repeat: no-repeat;
      @include smartphone {
        background-image: none;
        background-color: $tile-bg;
        width: 100%;
        height: 10%;
        border-radius: 0;
        margin-bottom: 5px;
        order: 3;
      }
    }

    &:first-child {
      background-position: 0 0;
    }
    &:nth-child(2){
      background-position: -248px 0;
    }
    &:nth-child(3){
      background-position: -(248px*2) 0;
    }
    &:nth-child(4){
      background-position: 0 -248px;
    }
    &:nth-child(5){
      background-position: -248px -248px;
    }
    &:nth-child(6){
      background-position: -(248px*2) -248px;
    }
    &:nth-child(7){
      background-position: 0 -(248px*2);
    }
    &:nth-child(8){
      background-position: -248px -(248px*2);
    }

    img.logoImg {
      border-radius: 25px;
      width: 100%;
      height: 100%;
      @include smartphone {
        border-radius: 0;
      }
    }

    a {
      @include display(100%,flex);
      border-radius: $tile-border;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      font-family: 'Cabin', sans-serif;
      font-size: 2em;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      overflow: hidden;
      @include smartphone {
        border-radius: 0;
      }

      &:hover {
        background-color: $tile-bg;
        border: 5px solid rgba(#221D1E, 0.7);
        box-sizing: border-box;
        animation: fade-in 1s;
      }

      &:hover span {
        margin-left: 0px;
        transition: margin-left 0.8s;
      }
    }

    span {
      margin-left: -600px;
      width: 100%;
      @include smartphone {
        margin: 0;
      }
    }

    img.galleryPhoto {
      @include tile(100%,100%, $tile-border);
      display: none;
      animation: fade-in 1s;
      @include smartphone {
        border-radius: 0;
      }

      &:nth-child(1){
        display: flex;
      }
    }
  }

  li.photos-group {
    @include smartphone {
      order: 2;
      width: 100px;
      height: 100px;
    }
  }
  li.logo {
  @include smartphone {
    order: 1;
    width: 100px;
    height: 100px;
    padding-bottom: 5px;
  }
}

}

.open {
  visibility: visible;
  opacity: 1;
}

main {
  @include display(100%,flex);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  visibility: hidden;

  section {
    @include display(90%,flex);
    width: 80%;
    position: absolute;
    top: 5%;
    left: 10%;
    background-color: $section-bg;
    border-radius: $tile-border;
    transition: visibility 0.5s, opacity 0.5s;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    overflow: auto;
    @include smartphone {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;
      align-content: flex-start;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      border-radius: 0;
    }
    @include tablet {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    h2 {
      font-size: 2.5rem;
      text-align: center;
      font-family: 'Cabin', sans-serif;
      width: 100%;
      @include smartphone {
        max-width: 90%;
        font-size: 2rem;
        padding: 10px 0;
      }
      @include tablet {
        font-size: 2.3rem;
      }

      &::after {
        content: "";
        border-top: 3px solid #FFF;
        display: block;
        margin-top: -20px;
        height: 1px;
        width: 100%;
      }
    }

    span.line {
      background-color: $section-bg;
      padding: 0 30px;
      @include smartphone {
        padding: 0 20px;
      }
    }

    p {
      font-family: 'PT Sans', sans-serif;
      font-size: 1.1rem;
      margin: 50px;
      padding-bottom: 30px;
      @include smartphone {
        margin: 5px;
        font-size: 1rem;
      }

      &.welcome {
        font-size: 1.3rem;
        @include smartphone {
          font-size: 1.15rem;
        }
        @include tablet {
          font-size: 1.2rem;
          margin-top: 50px;
        }
      }
    }

    h3 {
      font-size: 2.5rem;
      text-align: center;
      font-family: 'Cabin', sans-serif;
      font-size: 2rem;
      background-color: #FFF;
      @include smartphone {
        width: 100%;
      }
    }
  }
  .company {
    display: flex;
    align-items: center;
    margin-top: 30px;
    @include smartphone {
      display: block;
      margin-left: 5px;
      margin-right: 5px;
    }
    @include tablet {
      display: block;
    }

    p {
      width: 80%;
      @include tablet {
        margin-top: 10px;
      }
    }

    img {
      width: 350px;
      height: 350px;
      @include smartphone {
        width: 40%;
        height: 40%;
        float: left;
        margin: 0 5px 5px 0;
      }
      @include tablet {
        width: 220px;
        height: 220px;
        float: left;
        margin: 0 10px 5px 40px;
      }
    }
  }

  .heading {
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  button.close-btn {
    padding: 10px;
    background-color: #FFF;
    border-radius: 50%;
    margin: 0 10px 10px 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: none;
    height: 2rem;
    box-sizing: content-box;
    order: 2;

    &:hover {
      cursor: pointer;
    }

    span {
      font-size: 2rem;
      font-weight: 700;
      font-family: 'Syncopate', sans-serif;
    }
  }
}

section.services {
  align-items: center;
  @include smartphone {
    align-items: baseline;
  }

  ul {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'PT Sans', sans-serif;
    display: block;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    @include smartphone {
      margin: 0;
    }
    @include tablet {
      order: 4;
      margin-top: 30px;
    }
  }

  li:first-child a:before {
    font-family: FontAwesome;
    content: "\f275";
  }

  li:nth-child(2) a:before {
    font-family: FontAwesome;
    content: "\f015";
  }

  li:nth-child(3) a:before {
    font-family: FontAwesome;
    content: "\f0fe";
  }

  li:nth-child(4) a:before {
    font-family: FontAwesome;
    content: "\f0ad";
  }

  li:nth-child(5) a:before {
    font-family: FontAwesome;
    content: "\f2b5";
  }

  li:last-child a:before {
    font-family: FontAwesome;
    content: "\f1ad";
  }

  li {
    list-style: none;
    border: 1px solid #FFF;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    @include smartphone {
      margin: 0;
    }

    a {
      @include services-heading;
      text-decoration: none;
      color: #000;
      display: block;
      @include smartphone {
        font-size: 1.1rem;
      }

      &:before {
        width: 35px;
        display: inline-block;
      }

      &:after {
        font-family: FontAwesome;
        content: "\f078";
        display: block;
        float: right;
      }
    }

    div {
      display: none;
      background-color: lighten($section-bg, 5%);
    }

    .p-open {
      display: flex;
      align-items: center;
      height: 100%;
      @include smartphone {
        display: block;
      }
    }

    img {
      width: 30%;
      margin-left: 50px;
      @include smartphone {
        margin: 5px;
        float: left;
        width: 40%;
      }
    }

    p {
      border: 0;
      padding: 0;
      width: 70%;
    }
  }

  button.pdf-button {
    @include services-heading;
    border-radius: 7px;
    margin-bottom: 50px;
    @include smartphone {
      margin: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      font-size: 1rem;
      width: 100%;
      border-radius: 0;
    }
    @include tablet {
      margin-bottom: 0px;
      order: 3;
      margin-top: 50px;
    }

    &:hover {
      cursor: pointer;
      border: 3px dotted #FFF;
    }
  }
}

section.projects {

  h2 {
    margin-bottom: 30px;
    @include smartphone {
      font-size: 1.6rem;
    }
  }

  span.line {
    @include smartphone {
      padding: 0 10px;
    }
  }

  .all-posts {
    overflow-y: auto;
  }

  .post {
    display: block;
    margin: 0 50px 50px 50px;
    @include smartphone {
      margin-left: 5px;
      margin-right: 5px;
    }

    h3 {
      text-align: left;
      border-bottom: 2px solid #FFF;
      margin: 0;
      background-color: transparent;
    }

    time {
      text-align: right;
      display: block;
      margin: 10px;
      font-size: 1.1rem;
      font-family: 'PT Sans', sans-serif;
    }

    .picture {
      margin-bottom: 50px;
      display: block;
      text-align: center;
    }

    img {
      width: 230px;
      height: 230px;
      @include tablet {
        width: 200px;
        height: 200px;
      }
    }

    p {
      margin: 0;
      border: 0;

      &:not(:first-of-type){
        display: none;
      }
    }
  }

  button.read-more {
    background-color: #ffd585;
    border-radius: 7px;
    padding: 5px 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      border: 3px dotted #FFF;
    }
  }
}

section.clients {
  align-items: center;

  p {
    font-size: 1.4rem;
    width: 90%;
    @include smartphone {
      font-size: 1.15rem;
    }
    @include tablet {
      font-size: 1.2rem;
      margin-top: 50px;
    }
  }

  .clients-logo {
    margin: 0 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 90%;

    a {
      width: 180px;
      margin: 20px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

section.careers {
  ul {
    font-family: 'Cabin', sans-serif;
    margin-top: 80px;
    @include smartphone {
      margin-top: 10px;
    }
  }

  ul.offers {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      width: 130px;
      height: 130px;
      float: left;
      text-align: center;
      list-style: none;
      @include smartphone {
        width: 140px;
        height: 140px;
        margin-bottom: 10px;
      }
    }

    a {
      border-radius: 30%;
      border: 1px solid #FFF;
      background-color: #90CEF2;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: #000;
      position: relative;
      z-index: 0;
      transition: transform, background-color, border-radius;
      transition-duration: 1s;

      &:hover {
        transform: scale(1.4);
        background-color: #FFF;
        border-radius: 10%;
        z-index: 1;
        border: 1px solid #90CEF2;
        padding: 0 5px;
      }

      &:hover p.opp:not(:last-of-type) {
        visibility: hidden;
        opacity: 0;
      }

      &:hover p.description {
        visibility: visible;
        opacity: 1;
      }
    }

    p {
      border: none;
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      transition: opacity 1s;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    p.opp {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
    }

    p.description {
      visibility: hidden;
      opacity: 0;
    }
  }

  ul.jobs {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    font-size: 1.5rem;

    li {
      border: 1px solid #FFF;
      flex: 1 0 20%;
      text-align: center;
      min-height: 80px;
      background-color: lighten(#FEA906, 25%);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #343436;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: #FFF;
        font-size: 1.8rem;
        transition: font-size 0.5s;
      }
    }
  }

  h3 {
    text-transform: uppercase;
  }
}

section.gallery {
  display: flex;

  button.close-btn{
    @include smartphone {
      align-self: flex-start;
    }
  }

  h2 {
    margin-bottom: 50px;
  }

  .pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75%;
    width: 100%;
    @include smartphone {
      flex-direction: column;
      height: 81%;
    }
  }

  .img-group {
    margin-bottom: 50px;
    overflow: hidden;
    height: 100%;
    flex-basis: 70%;
    @include smartphone {
      margin-bottom: 20px;
    }

    figure {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    figcaption {
      background-color: #ffd585;
      font-size: 1.2rem;
      text-transform: uppercase;
      text-align: center;
      box-sizing: border-box;
      padding: 10px;
      font-weight: 600;
      border-top: 2px solid #FFF;
      border-left: 2px solid #FFF;
      border-right: 2px solid #FFF;
      z-index: 1;
    }

    img.photo {
      width: 100%;
      border-bottom: 2px solid #FFF;
      border-left: 2px solid #FFF;
      border-right: 2px solid #FFF;
      box-sizing: border-box;
    }
  }

  ul.thumbnails {
    flex-basis: 35%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    list-style: none;
    justify-content: flex-end;
    align-content: flex-start;
    overflow-x: hidden;
    @include smartphone {
      overflow-y: hidden;
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: auto;
      align-items: flex-end;
    }

    a {
      width: 150px;
      height: 150px;
      display: block;
      border: 2px solid #FFF;

      &:hover {
        border: 2px solid #000;
      }
    }

    img {
      width: 150px;
      height: 150px;
    }
  }
}

section.contact {

  h2 {
    margin-bottom: 50px;
    @include smartphone {
      margin-bottom: 0;
    }
  }

  .contact-content {
    @include smartphone {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  form.contact-form {
    width: 50%;
    display: inline-block;
    margin-bottom: 20px;
    @include smartphone {
      width: 100%;
      order: 2;
    }
  }

  h3 {
    margin-bottom: 50px;
    @include smartphone {
      margin-top: 50px;
    }
  }

  .form-row {
    display: flex;
    margin: 6px 0 0 50px;
    @include smartphone {
      margin-left: 0;
    }

    label {
      width: 100px;
      @include smartphone {
        width: 150px;
      }
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'] {
      background-color: #FFFFFF;
      border: 1px solid #D6D9DC;
      border-radius: 3px;
      width: 100%;
      padding: 7px;
      font-size: 14px;
      box-sizing: border-box;
    }

    textarea {
      border: 1px solid #D6D9DC;
      border-radius: 3px;
      min-height: 200px;
      margin-bottom: 10px;
      padding: 7px;
      resize: none;
      width: 100%;
    }

    button.send {
      font-size: 1rem;
      font-weight: bold;
      color: #FFFFFF;
      background-color: #90CEF2;
      border: none;
      border-radius: 3px;
      padding: 10px 40px;
      cursor: pointer;
      display: block;
      margin: 0 auto;
    }
  }

  span.info {
    margin-left: 125px;
    display: block;
    margin-bottom: 20px;
  }

  .map {
    height: 400px;
    background-color: grey;
    border: 5px solid #FFF;
    box-shadow: 0 0 5px 8px #FFF;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .address {
    vertical-align: top;
    margin-left: 7%;
    display: inline-block;
    width: 40%;
    margin-bottom: 20px;
    @include smartphone {
      width: 100%;
      margin-left: 5px;
    }
  }

  .c-address {
    display: block;
    font-size: 1.1rem;
  }

  .c-name {
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 700;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  @include small-height {
    display: none;
  }

  span {
    display: inline-block;
    padding: 0 50px;
  }

  .tel {
    border-right: 5px solid $section-bg;
    @media (max-width: 870px) {
      border-right: none;
    }
  }

  .email {
    border-left: 5px solid $section-bg;
    @media (max-width: 870px) {
      border-left: none;
    }
  }
}
