@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin display($height,$display) {
  height: $height;
  display: $display;
}

@mixin tile($height,$width,$border-radius){
  height: $height;
  width: $width;
  border-radius: $border-radius;
}

@mixin services-heading(){
  padding: 10px 20px;
  background-color: lighten(#FEA906, 25%);
  font-size: 1.5rem;
}

@mixin mobile-size-hnav ($width, $height, $min-height, $max-height, $font-size) {
  @media (max-height: $max-height) and (min-height: $min-height) {
    width: $width;
    height: $height;
    font-size: $font-size;
  }
}

@mixin mobile-size-wnav ($width, $height, $min-width, $max-width, $font-size) {
  @media (max-width: $max-width) and (min-width: $min-width) {
    width: $width;
    height: $height;
    font-size: $font-size;
  }
}
