@import "keyframes-mixins";

$menu-size: 775px;
$tile-size: 250px;
$tile-border: 25px;
$section-bg: #FFEDB3;

* {
  margin: 0;
  padding: 0;
}

#container {
  @include display(100vh,flex);
  justify-content: center;
  align-items: center;

  header {
    position: relative;

    img.dec {
      position: absolute;
    }

    img.builder {
      bottom: -90px;
      right: -198px;
    }

    img.arrow {
      top: $tile-size/2;
      left: -160px;
      width: 20%;
    }
  }
}

nav {
  width: $menu-size;
  height: $menu-size;

  ul {
    @include display(100%,flex);
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    @include tile($tile-size,$tile-size, $tile-border);
    list-style: none;

    &:not(#photos-group):not(#logo) {
      background-image: url("graphics/menu.jpg");
      background-repeat: no-repeat;
    }

    &:first-child {
      background-position: 0 0;
    }
    &:nth-child(2){
      background-position: -$tile-size 0;
    }
    &:nth-child(3){
      background-position: -($tile-size*2) 0;
    }
    &:nth-child(4){
      background-position: 0 -$tile-size;
    }
    &:nth-child(5){
      background-position: -$tile-size -$tile-size;
    }
    &:nth-child(6){
      background-position: -($tile-size*2) -$tile-size;
    }
    &:nth-child(7){
      background-position: 0 -($tile-size*2);
    }
    &:nth-child(8){
      background-position: -$tile-size -($tile-size*2);
    }
    &:last-child{
      background-image: url("graphics/logo.png");
    }

    a {
      @include display(100%,flex);
      border-radius: $tile-border;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      font-family: 'Cabin', sans-serif;
      font-size: 2em;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      overflow: hidden;

      &:hover {
        background-color: #90CEF2;
        animation: fade-in 1s;
      }

      &:hover span {
        margin-left: 0px;
        transition: margin-left 1s;
      }
    }

    span {
      margin-left: -600px;
      width: $tile-size;
    }

    img.galleryPhoto {
      @include tile($tile-size,$tile-size, $tile-border);
      display: none;
      animation: fade-in 1s;

      &:nth-child(1){
        display: flex;
      }
    }
  }
}

.open{
  visibility: visible;
  opacity: 1;
}

main {
  @include display(100%,flex);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  visibility: hidden;

  section {
    @include display(90%,flex);
    width: 80%;
    position: absolute;
    top: 5%;
    left: 10%;
    background-color: $section-bg;
    border-radius: $tile-border;
    transition: visibility 0.5s, opacity 0.5s;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    overflow: hidden;

    h1 {
      font-size: 2.5rem;
      text-align: center;
      font-family: 'Cabin', sans-serif;
    }

    p {
      font-family: 'PT Sans', sans-serif;
      font-size: 1.1rem;
      margin: 50px;
      padding-bottom: 30px;
      border-bottom: 1px solid #FFF;

      &.welcome {
        font-size: 1.3rem;
      }
    }

    h2 {
      @extend h1;
      font-size: 2rem;
      background-color: #FFF;
    }
  }
  .company {
    display: flex;
    align-items: center;
    margin-top: 30px;

    img {
      width: 350px;
      height: 350px;
    }

    p {

    }
  }

  button.close-btn {
    padding: 10px;
    background-color: #FFF;
    border-radius: 50%;
    margin: 10px;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: none;

    &:hover {
      cursor: pointer;
    }

    span {
      font-size: 2em;
      font-weight: 700;
      font-family: 'Syncopate', sans-serif;
    }
  }
}

section.services {
  align-items: center;

  ul {
    margin: 50px;
    font-family: 'PT Sans', sans-serif;
    display: block;
    width: 100%;
    overflow-y: auto;
  }

  li:first-child a:before {
    font-family: FontAwesome;
    content: "\f275";
  }

  li:nth-child(2) a:before {
    font-family: FontAwesome;
    content: "\f015";
  }

  li:nth-child(3) a:before {
    font-family: FontAwesome;
    content: "\f0fe";
  }

  li:nth-child(4) a:before {
    font-family: FontAwesome;
    content: "\f0ad";
  }

  li:nth-child(5) a:before {
    font-family: FontAwesome;
    content: "\f2b5";
  }

  li:last-child a:before {
    font-family: FontAwesome;
    content: "\f1ad";
  }

  li {
    list-style: none;
    border: 1px solid #FFF;
    margin: 0 50px;
    display: flex;
    flex-direction: column;

    a {
      @include services-heading;
      text-decoration: none;
      color: #000;
      display: block;

      &:before {
        width: 35px;
        display: inline-block;
      }

      &:after {
        font-family: FontAwesome;
        content: "\f078";
        display: block;
        float: right;
      }
    }

    div {
      display: none;
      background-color: lighten($section-bg, 5%);
    }

    .p-open {
      display: flex;
      align-items: center;
    }

    img {
      width: 30%;
      margin-left: 50px;
    }

    p {
      border: 0;
      padding: 0;
    }
  }

  button.pdf-button {
    @include services-heading;
    border-radius: 7px;
    margin-bottom: 50px;

    &:hover {
      cursor: pointer;
      border: 3px dotted #FFF;
    }
  }
}

section.projects {

  h1 {
    margin-bottom: 30px;
  }

  .all-posts {
    overflow-y: auto;
  }

  .post {
    display: block;
    margin: 0 50px 50px 50px;

    h2 {
      text-align: left;
      border-bottom: 2px solid #FFF;
      margin: 0;
      background-color: transparent;
    }

    time {
      text-align: right;
      display: block;
      margin: 10px;
      font-size: 1.1rem;
      font-family: 'PT Sans', sans-serif;
    }

    .picture {
      margin-bottom: 50px;
      display: block;
      text-align: center;
    }

    p {
      margin: 0;
      border: 0;

      &:not(:first-of-type){
        display: none;
      }
    }
  }

  button.read-more {
    background-color: #ffd585;
    border-radius: 7px;
    padding: 5px 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      border: 3px dotted #FFF;
    }
  }
}

section.clients {
  align-items: center;

  p {
    font-size: 1.4rem;
  }

  .clients-logo {
    margin: 0 50px 50px 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-content: center;
    width: 70%;

    a {
      width: 180px;
      margin: 5px 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

section.careers {
  ul {
    font-family: 'Cabin', sans-serif;
    margin: 50px 0;
  }

  ul.offers {
    font-size: 1.1rem;
    display: block;
    width: 640px;
    margin-left: auto;
    margin-right: auto;

    li {
      width: 150px;
      height: 150px;
      background-color: #90CEF2;
      border-radius: 50%;
      float: left;
      text-align: center;
      list-style: none;
      margin: 5px;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #000;
    }
  }

  ul.jobs {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    font-size: 1.5rem;

    li {
      border: 1px solid #FFF;
      flex: 1 0 20%;
      text-align: center;
      min-height: 80px;
      background-color: lighten(#FEA906, 25%);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #343436;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: #FFF;
        font-size: 1.8rem;
        transition: font-size 0.5s;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    margin-top: 50px;
  }
}
