@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0; }

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #container header {
    position: relative; }
    #container header img.dec {
      position: absolute; }
    #container header img.builder {
      bottom: -90px;
      right: -198px; }
    #container header img.arrow {
      top: 125px;
      left: -160px;
      width: 20%; }

nav {
  width: 775px;
  height: 775px; }
  nav ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  nav li {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    list-style: none; }
    nav li:not(#photos-group):not(#logo) {
      background-image: url("graphics/menu.jpg");
      background-repeat: no-repeat; }
    nav li:first-child {
      background-position: 0 0; }
    nav li:nth-child(2) {
      background-position: -250px 0; }
    nav li:nth-child(3) {
      background-position: -500px 0; }
    nav li:nth-child(4) {
      background-position: -250px; }
    nav li:nth-child(5) {
      background-position: -500px; }
    nav li:nth-child(6) {
      background-position: -750px; }
    nav li:nth-child(7) {
      background-position: -500px; }
    nav li:nth-child(8) {
      background-position: -750px; }
    nav li:last-child {
      background-image: url("graphics/logo.png"); }
    nav li a {
      height: 100%;
      display: flex;
      border-radius: 25px;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      font-family: 'Cabin', sans-serif;
      font-size: 2em;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      overflow: hidden; }
      nav li a:hover {
        background-color: #90CEF2;
        animation: fade-in 1s; }
      nav li a:hover span {
        margin-left: 0px;
        transition: margin-left 1s; }
    nav li span {
      margin-left: -600px;
      width: 250px; }
    nav li img.galleryPhoto {
      height: 250px;
      width: 250px;
      border-radius: 25px;
      display: none;
      animation: fade-in 1s; }
      nav li img.galleryPhoto:nth-child(1) {
        display: flex; }

.open {
  visibility: visible;
  opacity: 1; }

main {
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  visibility: hidden; }
  main section {
    height: 90%;
    display: flex;
    width: 80%;
    position: absolute;
    top: 5%;
    left: 10%;
    background-color: #FFEDB3;
    border-radius: 25px;
    transition: visibility 0.5s, opacity 0.5s;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    overflow: hidden; }
    main section h1, main section h2 {
      font-size: 2.5rem;
      text-align: center;
      font-family: 'Cabin', sans-serif; }
    main section p {
      font-family: 'PT Sans', sans-serif;
      font-size: 1.1rem;
      margin: 50px;
      padding-bottom: 30px;
      border-bottom: 1px solid #FFF; }
      main section p.welcome {
        font-size: 1.3rem; }
    main section h2 {
      font-size: 2rem;
      background-color: #FFF; }
  main .company {
    display: flex;
    align-items: center;
    margin-top: 30px; }
    main .company img {
      width: 350px;
      height: 350px; }
  main button.close-btn {
    padding: 10px;
    background-color: #FFF;
    border-radius: 50%;
    margin: 10px;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: none; }
    main button.close-btn:hover {
      cursor: pointer; }
    main button.close-btn span {
      font-size: 2em;
      font-weight: 700;
      font-family: 'Syncopate', sans-serif; }

section.services {
  align-items: center; }
  section.services ul {
    margin: 50px;
    font-family: 'PT Sans', sans-serif;
    display: block;
    width: 100%;
    overflow-y: auto; }
  section.services li:first-child a:before {
    font-family: FontAwesome;
    content: "\f275"; }
  section.services li:nth-child(2) a:before {
    font-family: FontAwesome;
    content: "\f015"; }
  section.services li:nth-child(3) a:before {
    font-family: FontAwesome;
    content: "\f0fe"; }
  section.services li:nth-child(4) a:before {
    font-family: FontAwesome;
    content: "\f0ad"; }
  section.services li:nth-child(5) a:before {
    font-family: FontAwesome;
    content: "\f2b5"; }
  section.services li:last-child a:before {
    font-family: FontAwesome;
    content: "\f1ad"; }
  section.services li {
    list-style: none;
    border: 1px solid #FFF;
    margin: 0 50px;
    display: flex;
    flex-direction: column; }
    section.services li a {
      padding: 10px 20px;
      background-color: #ffd585;
      font-size: 1.5rem;
      text-decoration: none;
      color: #000;
      display: block; }
      section.services li a:before {
        width: 35px;
        display: inline-block; }
      section.services li a:after {
        font-family: FontAwesome;
        content: "\f078";
        display: block;
        float: right; }
    section.services li div {
      display: none;
      background-color: #fff3cd; }
    section.services li .p-open {
      display: flex;
      align-items: center; }
    section.services li img {
      width: 30%;
      margin-left: 50px; }
    section.services li p {
      border: 0;
      padding: 0; }
  section.services button.pdf-button {
    padding: 10px 20px;
    background-color: #ffd585;
    font-size: 1.5rem;
    border-radius: 7px;
    margin-bottom: 50px; }
    section.services button.pdf-button:hover {
      cursor: pointer;
      border: 3px dotted #FFF; }

section.projects h1, main section.projects h2 {
  margin-bottom: 30px; }

section.projects .all-posts {
  overflow-y: auto; }

section.projects .post {
  display: block;
  margin: 0 50px 50px 50px; }
  section.projects .post h2 {
    text-align: left;
    border-bottom: 2px solid #FFF;
    margin: 0;
    background-color: transparent; }
  section.projects .post time {
    text-align: right;
    display: block;
    margin: 10px;
    font-size: 1.1rem;
    font-family: 'PT Sans', sans-serif; }
  section.projects .post .picture {
    margin-bottom: 50px;
    display: block;
    text-align: center; }
  section.projects .post p {
    margin: 0;
    border: 0; }
    section.projects .post p:not(:first-of-type) {
      display: none; }

section.projects button.read-more {
  background-color: #ffd585;
  border-radius: 7px;
  padding: 5px 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem; }
  section.projects button.read-more:hover {
    cursor: pointer;
    border: 3px dotted #FFF; }

section.clients {
  align-items: center; }
  section.clients p {
    font-size: 1.4rem; }
  section.clients .clients-logo {
    margin: 0 50px 50px 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-content: center;
    width: 70%; }
    section.clients .clients-logo a {
      width: 180px;
      margin: 5px 0; }
    section.clients .clients-logo img {
      width: 100%;
      height: 100%; }

section.careers ul {
  font-family: 'Cabin', sans-serif;
  margin: 50px 0; }

section.careers ul.offers {
  font-size: 1.1rem;
  display: block;
  width: 640px;
  margin-left: auto;
  margin-right: auto; }
  section.careers ul.offers li {
    width: 150px;
    height: 150px;
    background-color: #90CEF2;
    border-radius: 50%;
    float: left;
    text-align: center;
    list-style: none;
    margin: 5px; }
  section.careers ul.offers a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000; }

section.careers ul.jobs {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  font-size: 1.5rem; }
  section.careers ul.jobs li {
    border: 1px solid #FFF;
    flex: 1 0 20%;
    text-align: center;
    min-height: 80px;
    background-color: #ffd585; }
  section.careers ul.jobs a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #343436;
    width: 100%;
    height: 100%; }
    section.careers ul.jobs a:hover {
      background-color: #FFF;
      font-size: 1.8rem;
      transition: font-size 0.5s; }

section.careers h2 {
  text-transform: uppercase;
  margin-top: 50px; }
