* {
  margin: 0;
  padding: 0; }

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #container header {
    position: relative; }
    #container header img#dec {
      position: absolute;
      bottom: -90px;
      right: -198px; }

nav {
  width: 775px;
  height: 775px; }
  nav ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  nav li {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    list-style: none; }
    nav li:not(#gallery):not(#logo) {
      background-image: url("graphics/menu.jpg");
      background-repeat: no-repeat; }
    nav li:first-child {
      background-position: 0 0; }
    nav li:nth-child(2) {
      background-position: -250px 0; }
    nav li:nth-child(3) {
      background-position: -500px 0; }
    nav li:nth-child(4) {
      background-position: -250px; }
    nav li:nth-child(5) {
      background-position: -500px; }
    nav li:nth-child(6) {
      background-position: -750px; }
    nav li:nth-child(7) {
      background-position: -500px; }
    nav li:nth-child(8) {
      background-position: -750px; }
    nav li:last-child {
      background-image: url("graphics/logo.png"); }
    nav li a {
      height: 100%;
      display: block;
      border-radius: 25px; }
      nav li a:hover {
        background-color: #000; }
    nav li img {
      height: 250px;
      width: 250px;
      border-radius: 25px;
      display: none; }
      nav li img:nth-child(1) {
        display: flex; }
