@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0; }

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #container header {
    position: relative; }
    #container header img.dec {
      position: absolute; }
    #container header img.builder {
      bottom: -90px;
      right: -198px; }
    #container header img.arrow {
      top: 125px;
      left: -160px;
      width: 20%; }

nav {
  width: 775px;
  height: 775px; }
  nav ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  nav li {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    list-style: none; }
    nav li:not(#gallery):not(#logo) {
      background-image: url("graphics/menu.jpg");
      background-repeat: no-repeat; }
    nav li:first-child {
      background-position: 0 0; }
    nav li:nth-child(2) {
      background-position: -250px 0; }
    nav li:nth-child(3) {
      background-position: -500px 0; }
    nav li:nth-child(4) {
      background-position: -250px; }
    nav li:nth-child(5) {
      background-position: -500px; }
    nav li:nth-child(6) {
      background-position: -750px; }
    nav li:nth-child(7) {
      background-position: -500px; }
    nav li:nth-child(8) {
      background-position: -750px; }
    nav li:last-child {
      background-image: url("graphics/logo.png"); }
    nav li a {
      height: 100%;
      display: flex;
      border-radius: 25px;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      font-family: 'Cabin', sans-serif;
      font-size: 2em;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      overflow: hidden; }
      nav li a:hover {
        background-color: #90CEF2;
        animation: fade-in 1s; }
      nav li a:hover span {
        margin-left: 0px;
        transition: margin-left 1s; }
    nav li span {
      margin-left: -600px;
      width: 250px; }
    nav li img.galleryPhoto {
      height: 250px;
      width: 250px;
      border-radius: 25px;
      display: none;
      animation: fade-in 1s; }
      nav li img.galleryPhoto:nth-child(1) {
        display: flex; }

main {
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  align-items: center;
  justify-content: center; }
  main section {
    height: 90%;
    display: flex;
    width: 80%;
    background-color: #FFEDB3;
    border-radius: 25px; }
