* {
	margin: 0;
	padding: 0;
}

@font-face{

font-family: MinionPro;

src:url(fonts/MinionPro-It.otf);

}

header {
	width: 100%;
	height: 125px;
	position: fixed;
	z-index: 1;
}

	header .header-background {
		background-color: #6c5468;
		height: 75px;
		width: 100%;
	}

	header .header-waves {
		height: 50px;
		width: 100%;
		background: url("graphics/object1.png") repeat-x;
	}

	header .header-background img {
		width: 170px;
		position: absolute;
		margin: 0 auto;
		top: 10%;
		left: 0;
		right: 0;
	}

		.header-background nav ol{
			list-style: none;
			display: block;
			left: 50%;
			position: relative;
			float: left;
		}

			nav ol li{
				float: left;
				margin: 50px;
				font-family: MinionPro, sans-serif;
				color: #fff;
				font-size: 22px;
				position: relative;
				display: block;
				right: 50%;
			}

				nav ol li:nth-of-type(4){
					margin-left: 170px;
				}

				nav ol li:hover{
					cursor: pointer;
					text-decoration: underline;
				}

main{
	background-color: #fff;
	position: relative;
	top: 100px;
}

	main .banner{
		width: 100%;
	}

		main .banner .banner-quotation{
			position: absolute;
			top: 150px;
			left: 30%;
			width: 40%;
			height: 480px;
			text-align: center;
		}

			.banner .banner-quotation p{
				font-size: 40px;
				color: #FFF;
			}

			.banner .banner-img img {
				width: 100%;
				height: 480px;
				filter: brightness(50%);
			}


	main section.intro{
		background-color: #fafafa;
		width: 100%;
		height: 320px;
		padding-top: 50px;
	}

		main section.intro img{
			margin: 0 auto 50px auto;
			left: 0;
			right: 0;
			width: 140px;
			display: block;
			border: 1px solid #dfdfdf;
			border-radius: 80px;
			padding: 5px;
			background-color: #fff;
			height: 140px;
		}

		main section.intro p.intro-text{
			font-family: MinionPro, sans-serif;
			color: #979797;
			font-size: 30px;
			display: inline-block;
			text-align: center;
			width: 100%;
		}

	main .intro-waves{
		background: url("graphics/object3.png") repeat-x;
		width: 100%;
		height: 80px;
	}

	main article,
	main blockquote,
	main figure{
		display: inline-block;
		text-align: center;
		margin: 50px 0;
		width: 100%;
	}

		main .border-pointer{
				border: 1px solid #dfdfdf;
				background-color: #fff;
				padding: 5px;
				width: 80px;
				height: 80px;
				border-radius: 80px;
				display: block;
				margin: 0 auto;
			}

			.border-pointer .pointer{
				width: 80px;
				height: 80px;
				background-color: #946d8d;
				border-radius: 80px;
			}

				.border-pointer .pointer img{
					width: 40%;
					display: block;
					margin: 0 auto;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}

		main article h1{
			text-transform: uppercase;
			font-family: 'Crimson Text', serif;
			font-size: 16px;
			display: block;
		}

		main article h1,
		main blockquote p:first-of-type,
		main figure .border-image,
		main article .border-video{
			width: 100%;
			margin-top: 50px;
		}

		main p{
			font-family: 'Crimson Text', serif;
			font-size: 16px;
  	        color: rgb(125, 125, 125);
		}

		main article p{
			width: 17%;
			position: relative;
			left: 41.5%;
			margin-top: 20px;
		}


		main time{
			font-size: 16px;
			font-family: 'Crimson Text', serif;
			color: rgb(69, 69, 69);
			font-style: italic;
			line-height: 2.25;
		}

	 	main .share{
	 		display: block;
	 		margin-top: 5px;
	 	}

	 		main .share a{
	 			display: inline-block;
	 		}

	 			.share a img{
	 				width: 50%;
	 			}

	 	main hr{
	 		width: 6%;
	 		display: block;
	 		margin: 20px auto 0 auto;
	 	}

			figure .border-image img{
			width: 30%;
			}

			figure .border-image img,
			article .border-video video{
			border: 1px solid #dfdfdf;
			padding: 10px;
			background-color: #fff;
			}

	footer{
		display: inline-block;
		text-align: center;
		width: 100%;
		position: relative;
		top: 100px;
	}

		footer .share-icons{
			background: #6c5468;
			width: 100%;
			display: block;
			padding: 80px 0;
		}

			footer .share-icons a{
				display: inline-block;
				margin-right: 5px;
			}

			footer .share-icons a:last-of-type{
				margin-right: 0;
			}

		footer .copyright-text{
			padding: 80px 0;
		}

			footer .copyright-text p{
				font-size: 22px;
				font-family: MinionPro;
			}

/*------------------------------------------------------------
MOBILE
------------------------------------------------------------	*/

@media all and (max-width: 768px){
	header {
		height: 0;
	}

		header::after {
			background-image: url("graphics/menu.svg");
			position: absolute;
			right: 10px;
			top: 3px;
			content: "";
			z-index: 1;
			display: block;
			height: 50px;
			width: 50px;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			border: 1px solid rgba(255, 255, 255, 0.5);
			box-shadow: 0 0 3px #FFF;
			border-radius: 50px;
			background-color: #FFF;
		}

			header:hover::after {
				cursor: pointer;
			}

		header .header-background {
			min-height: 342px;
			display: none;
		}

			.header-background nav {
				display: block;
				width: 100vw;
				height: 100%;
			}

				.header-background nav ol {
					float: none;
					position: initial;
				}

					nav ol li {
						display: block;
						float: none;
						text-align: center;
						position: initial;
						margin: 0;
						padding: 15px;
						font-weight: 600;
						border-top: 0.5px solid rgba(255, 255, 255, 0.5);
					}

					nav ol li:nth-of-type(4){
						margin: 0;
					}

			header .header-background img {
				display: none;
			}

	.header-waves {
		display: none;
	}

	main {
		top: 0;
	}

		main p{
			font-size: 20px;
		}
			main .banner .banner-quotation {
				left: 5%;
				width: 90%;
			}

				.banner .banner-quotation p {
					font-size: 36px;
				}

			main section.intro p.intro-text {
				font-size: 24px;
			}

			main article h1{
				font-size: 24px;
			}

			main article p {
				width: 92%;
				left: 4%;
				right: 4%;
			}

				.share a img {
					width: 70%;
				}

			figure .border-image img {
				width: 90%;
			}

				article .border-video video {
					width: 90%;
				}
}
/*------------------------------------------------------------
769px - 1060px
------------------------------------------------------------	*/
@media all and (min-width: 769px) and (max-width: 1060px) {
		nav ol li {
			margin: 50px 23px;
		}

			.banner .banner-quotation p {
				font-size: 38px;
			}

		main article p {
			width: 30%;
			left: 35%;
		}

		figure .border-image img {
			width: 50%;
		}
}
